.Home{
    min-height: 100vh;
    width: 100%;
   
}
.main-container{
    display: flex;
}
.Body{
    display: flex;
    height: 90vh;
}
.Sidebar-container{
    width: 30%;
}
.Details-Conatiner{
    width: 70%;
}